@charset "utf-8";
@import url('common.css');

body{
background-color: black;
color: white;
}

.headline{
    width: 100%;
    height: 50px;
    font-size: .8em;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.langbtkr{
    display: inline-block;
    margin: 0px 10px;
    font-weight: 100;
}

.act{
        font-weight: 900;

}

a{
    font-weight: 600;
    color: white;
    text-decoration: underline;
}
.langbteng{
    display: inline-block;
    margin: 0px 10px;
    font-weight: 100;
}

.mbg{
    width: 100%;
    height: 60vh;
    background-image: url(/imgs/vis_pattern.png);
    margin-top: 100px;
    margin-bottom: 100px;
    background-size: cover;
    aspect-ratio: 16/9;
}

.dl_bt{
    width: 230px;
    height: 64px;
    border: 2px solid white;
    padding: 20px, 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-left: 50px;
    margin-bottom: 80px;
    font-weight: 500;
    text-decoration: none;
}


.divider{
    width: 100%;
    height: 1px;
    background-color: gray;
}

.rolldown{
    font-size: .8em;
    color: gray;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 400;

}

.section1{
    width: 100%;
    height: auto;
    padding-left: 50px;
    font-size: 1em;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2;

}

.sec_head{
    font-weight: 600;
    padding-bottom: 20px;
}

b{
    background-color: white;
    color: black;
    padding: 2px 10px;
}

.langkr{
    display: block;
}
.langeng{
    display: block;
}

/* section divide */
